.axis path{
    fill:none;
    stroke: black;
}

.axis {
    font-size:8pt;
    font-family:sans-serif;
}

.underline {
    text-decoration:underline;
    font-family:arial;
    font-size:15pt;
}

circle{
    stroke:black;
    stroke-width:0.5px;
    fill:RoyalBlue;
    opacity:0.6;
}

.rule line {
    stroke: #eee;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}